/* Estilos para o layout geral */ /* stylos na página Quem somos */ 

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(226, 162, 35);
}

header { /*cabeçalho */
    padding: 10px 20px;
}
/* sessão boas-vindas */
.about-section {
    padding: 50px;
    text-align: center;
    animation: fadeInUp 1s ease-in-out;
}

/* animação  da tela quem somos */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

section { /*Todas a sessões da página home/index.html*/
    text-align: center;
}

.horizontal-list { /*Lista de links*/
    
    padding: 0;
    list-style-type: none;
}

.horizontal-list li { /*Lista de links*/
    display: inline-block;
    margin: 0 10px;
}

.horizontal-list a { /* Cor dos links */
    color: orange; 
    text-decoration: none;
    font-size: 16px;
}

.horizontal-list a:hover { /* Efeito ao passar mouse em  */
    text-decoration: underline;
}

img {  
    width: 100%;
    height: 10cm;
}
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inlcenterine;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #041E42;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    font-size: x-small;
}

 main {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     text-align: center;
}

 #video {
     margin-top: 20px;
}

#video iframe {
            max-width: 100%;
}
